.section-roadmap{
    background: url('../assets/images/section-roadmap/roadmap-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 67px 0px 0px 0px;
    height: 1140px;
    position: relative;
    overflow: hidden;
}

.section-roadmap__text{
    font-family: 'Shoguns Clan';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #80FF00;
    text-shadow: 
		-0   -1px 0   #000,
		 0   -1px 0   #000,
		-0    1px 0   #000,
		 0    1px 0   #000,
		-1px -0   0   #000,
		 1px -0   0   #000,
		-1px  0   0   #000,
		 1px  0   0   #000,
		-1px -1px 0   #000,
		 1px -1px 0   #000,
		-1px  1px 0   #000,
		 1px  1px 0   #000,
		-1px -1px 0   #000,
		 1px -1px 0   #000,
		-1px  1px 0   #000,
		 1px  1px 0   #000;
    max-width: 556px;
    margin: 0 auto;
}

.section-roadmap__content{
    margin-top: 215px;
}

.monsters{
    position: absolute;
    bottom: 0 ;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}