@font-face {
    font-family: 'Shoguns Clan';
    src: url('../assets/fonts/ShogunsClan.ttf');
}

@font-face {
    font-family: 'Tobi';
    src: url('../assets/fonts/Tobi.woff2');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background: #1E1E1E;
}

main.hidden{
    display: none;
}

.container{
    max-width: 1130px;
    padding: 0px 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}

.section-header{
    text-align: center;
    position: relative;
    z-index: 1000;
}

.section-title{
    font-family: 'Shoguns Clan';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120%;
    text-transform: uppercase;
    color: #EB924D;
    text-shadow: 
		-0   -4px 0   #000000,
		 0   -4px 0   #000000,
		-0    4px 0   #000000,
		 0    4px 0   #000000,
		-4px -0   0   #000000,
		 4px -0   0   #000000,
		-4px  0   0   #000000,
		 4px  0   0   #000000,
		-4px -1px 0   #000000,
		 4px -1px 0   #000000,
		-4px  1px 0   #000000,
		 4px  1px 0   #000000,
		-4px -1px 0   #000000,
		 4px -1px 0   #000000,
		-4px  1px 0   #000000,
		 4px  1px 0   #000000;
}